@font-face{
  font-family: "big john";
  src: url('../fonts/BIG_JOHN.otf');
}

@font-face{
  font-family: "slim joe";
  src: url('../fonts/Slim_Joe.otf');
}

html, body {
  background-color: dodgerblue;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.btn-custom {
  text-decoration: none;
  padding: 5px 8px 4px 8px;
  color: white;
  font-size: 2em;
  border: 2px solid white;
  border-radius: 50%;
}
.btn-custom:hover {
  text-decoration: none;
  background-color: white;
  color: dodgerblue;
}
.btn-custom:active {
  text-decoration: none;
  background-color: lightgray;
  color: dodgerblue;
  border: 2px solid lightgray;
  border-radius: 50%;
}
