{% extends 'base.html' %}

{% block body %}

<div class="container mt-0 mt-md-2" style='height: 67%;'>
  <div class='row py-3'>
    <div class='col-12 text-right'>
      <a href='#' id='about' class='btn-custom'>
        <i class="far fa-question-circle fa-lg" id='about-icon'></i>
      </a>
    </div>
  </div>
  <div class="row align-items-end" style='height: 40%;'>
    <div class='col-12 text-center'>
      <h1 class='text-white' style='font-family: "big john";'>A.I.-quarium</h1>
      <h3 class='text-white' style='font-family: "slim joe"; font-weight: bold;'>A.I.-powered fish recognition</h3>
    </div>
  </div>

  <!-- home -->
  {% if not filename %}
    <div class="row justify-content-center align-items-center" style='height: 40%;' id='home'>
  {% else %}
    <div class="row justify-content-center align-items-center" style='height: 40%; display: none;' id='home'>
  {% endif %}
    <div class='col-12 text-center'>
      <img class='img-fluid' src="{{ url_for('static', filename='img/logo-w.svg') }}" style='max-height: 20vh;'/>
    </div>
  </div>

  <!-- input -->
  <div class="row justify-content-center align-items-center" style='height: 40%; display: none;' id='input'>
    <div class='col-10 text-center'>
      <form method=post enctype=multipart/form-data>
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" accept="image/*" class="custom-file-input"
                   onchange='this.form.submit()' name='file' id="inputGroupFile01"
                   aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">...</label>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- picture -->
  {% if filename %}
  <div class="row justify-content-center align-items-center" style='height: 40%;' id='picture'>
    <div class='col-12 text-center'>
       <img src="{{ url_for('display_image', filename=filename) }}"
            class='img-fluid border border-white'
            style='border-width: 2px !important; border-radius: 10%; max-height: 18vh !important;'>
     </div>
   </div>
  {% endif %}

  <!-- buttons -->
  <div class="row justify-content-center align-items-center" style='height: 20%;'>
    {% if not filename %}
    <div class='col-4 col-md-1 text-center' id='prev-div' style='display: none;'>
    {% else %}
    <div class='col-4 col-md-1 text-center' id='prev-div'>
    {% endif %}
      <a href='#' id='prev' class='btn-custom'>
        <i class="far fa-play-circle fa-flip-horizontal fa-lg" id='prev-icon'
           style='font-size: 2em;'></i>
      </a>
    </div>
    <div class='col-4 col-md-1 text-center' id='next-div'>
      <a href='#' id='next' class='btn-custom'>
        <i class="far fa-play-circle fa-lg" id='next-icon'
           style='font-size: 2em;'></i>
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
  $('#next-icon, #prev-icon, #about-icon').hover(
    function () {
      $(this).removeClass('far').addClass('fas').css({'color': 'white'});
    },
    function () {
      $(this).removeClass('fas').addClass('far');
    }
  );
  $('#next-icon, #prev-icon, #about-icon').on(
    'mousedown', function() {
      $(this).css({'color': 'lightgray'});
    }
  );
  $('#next-icon, #prev-icon, #about-icon').on(
    'mouseup', function() {
      $(this).css({'color': 'white'});
    }
  );
  $('#next').click(function() {
    if ($('#home').is(':visible')) {
      $('#next-div').fadeOut('fast');
      $('#home').fadeOut('fast', function() {
        $('#input').fadeIn();
        $('#prev-div').fadeIn();
      });
    }
  });
  $('#prev').click(function() {
    if ($('#input').is(':visible')) {
      $('#prev-div').fadeOut('fast');
      $('#input').fadeOut('fast', function() {
        $('#home').fadeIn();
        $('#next-div').fadeIn();
      });
    } else if ($('#picture').is(':visible')) {
      $('#next-div').fadeOut('fast');
      $('#picture').fadeOut('fast', function() {
        $('#input').fadeIn();
      });
    };
  });
});
</script>
{% endblock %}
